<!DOCTYPE html>
<html>
<head>
    <title>登入頁面</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <form action="." method="POST" name="form1" id="form1">
        {% csrf_token %}
        <div>帳號：<input type="text" name="username" id="username" /></div>
        <div>密碼：<input type="password" name="password" id="password" /></div>
        <div>
            <input type="submit" name="button" id="button" value="登入" />
        </div>
    </form>
    <span style="color: red">{{message}}</span>
    <script >
        console.log("test");
        $("form").on("submit", function (event) {
    event.preventDefault();
    $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/token/",
        data: $(this).serialize(),
        success: function (data) {
            localStorage.setItem('jwt_token', data.token);

        }
    });
});
    </script>
</body>

</html>

